// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html {
    font-size: 62.5%;
}

body {
    background-color: $black;
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}

.site-logo {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    z-index: 999;
    max-width: 20%;

    @include media-breakpoint-up(md) {
        left: 12rem;
        top: 2rem;
        max-width: 12.5%;
    }
}

.page {

    @include media-breakpoint-up(md) {
        max-width: 135rem;
        margin: 0 auto;
    }

    background-color: $white;
    position: relative;
}