// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$fa-font-path: '../../fonts';
$white: #fff;
$black: #000;
$grey: #5B5A59;
$brand-red: #e4192f;
$brand-grey: #272727;
$body-color: #121212;