.awesome {
    background-color: $white;
    padding: 5rem 0;

    @include media-breakpoint-up(md) {
        padding: 15rem 3rem;
    }
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
        transition: all 0.8s ease;

        &--front {
            background-color: $white;
        }

        &--back {
            transform: rotateY(180deg);

            background-image: linear-gradient(to right bottom,
                    $brand-red,
                    darken($brand-red, 30%));
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        background-size: cover;
        background-position: center center;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-radius: 3px 0;

        &--1 {
            background-image: linear-gradient(to right bottom,
                    $brand-red,
                    $brand-grey),
                url(../img/triumph.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
                    $brand-red,
                    $brand-grey),
                url(../img/team2.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
                    $brand-red,
                    $brand-grey),
                url(../img/team3.jpg);
        }
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 67%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-1 {
            background-image: linear-gradient(to right bottom,
                    rgba($brand-red, 0.85),
                    rgba($brand-grey, 0.85));
        }

        &-2 {
            background-image: linear-gradient(to right bottom,
                    rgba($brand-red, 0.85),
                    rgba($brand-grey, 0.85));
        }

        &-3 {
            background-image: linear-gradient(to right bottom,
                    rgba($brand-red, 0.85),
                    rgba($brand-grey, 0.85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            padding-left: 0;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $brand-grey;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__summary {
        text-align: center;
        color: $white;

        .btn {
            min-width: auto !important;
        }
    }

    &__summary--title {
        font-size: 3.2rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__summary--details {
        font-size: 1.5rem;
        font-weight: 100;
        margin-bottom: 6rem;
    }

    @include respond(tab-land) {
        height: auto;
        border-radius: 3px;
        background-color: $white;
        box-shadow: 0 1.5rem 4rem rgba($black, 0.15);

        &__side {
            height: auto;
            position: relative;
            overflow: visible;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 7.5%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 8rem 2rem 4rem;
        }
    }
}