.btn {
  min-width: 17.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.6rem;

  @include media-breakpoint-up(sm) {
    min-width: 26rem;
  }

  text-align: center;

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75rem 2rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;

    @include media-breakpoint-up(sm) {
      font-size: 1.8rem;
      padding: 1.5rem 4rem;
    }

    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
  }

  &:active,
  &:focus {
    transform: translateY(-0.3rem);
  }

  &--red {
    background-color: $brand-red;
    color: $grey;
    transition: all 0.2s ease-in-out;
  }

  &--grey {
    background-color: $brand-grey;
    color: $white !important;
  }

  &--white {
    background-color: $white;
    color: $brand-red;
  }

  &--block {
    width: 100%;
    display: block;
  }
}

.btn-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 3px 5px;
  transition: all .2s ease-in;
  border: 1px solid transparent;

  &:link,
  &:visited {
    color: $brand-red;
    display: inline-block;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    border: 1px dotted rgba($brand-red, .4);
  }
}