.contact {
  background-color: $body-color;
  padding: 7rem 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    background-image: url('../img/spindogs-g.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateX(35);
    transform-origin: center bottom;
    position: absolute;
    left: 12.5rem;
    bottom: 0;
    width: 50rem;
    height: 110%;
  }

  &__title {
    color: $white;
    font-size: 2.4rem;

    @include media-breakpoint-up(sm) {
      font-size: 2.8rem
    }

    @include media-breakpoint-up(md) {
      font-size: 4rem
    }

    text-align: center;
  }

  &__sub-title {
    color: $white;
    font-size: 1.5rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.8rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }

    text-align: center;
  }
}

form {
  .form-group {
    margin-bottom: 2rem;
  }

  .form-control {
    border-radius: 0;
    background-color: $brand-grey;
    border-color: $brand-grey;
    font-size: 1.5rem;
    color: $white;
    font-weight: 100;
    padding: 2.5rem;

    &:focus {
      background-color: $brand-grey;
      border-color: $brand-grey;
      color: $white;
    }

    &::placeholder {
      color: $white;
    }
  }

  .btn {
    font-size: 1.5rem;
    border-color: transparent;
    display: block;
    color: $white;
    text-transform: uppercase;
  }
}