@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, .8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;



  &__content {
    @include absCenter;
    width: 75%;
    background-color: $white;
    box-shadow: 0 2rem 4rem rgba($black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;

    @include respond(tab-port) {
      display: flex;
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__right {
    width: 66.6666666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      display: block;
      width: 100%;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $brand-grey;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $brand-grey;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(tab-port) {
      column-count: 1;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {

    &:link,
    &:visited {
      color: $brand-red;
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
    }

    &:hover,
    &:active {
      color: $brand-red;
    }
  }
}