/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  height: auto;
  line-height: 1;
  overflow: hidden;
  background-color: $black;

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0;
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

// Default Variables
$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: white !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  }

  @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }

  @else {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("../img/ajax-loader.gif") center center no-repeat;
  }
}

/* Icons */
@if $slick-font-family=="slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

/* Arrows */

.slick-prev,
.slick-next {
  display: none;

}

.slick-prev {
  left: -25px;

  [dir="rtl"] & {
    left: auto;
    right: -25px;
  }

  &:before {
    content: $slick-prev-character;

    [dir="rtl"] & {
      content: $slick-next-character;
    }
  }
}

.slick-next {
  right: -25px;

  [dir="rtl"] & {
    left: -25px;
    right: auto;
  }

  &:before {
    content: $slick-next-character;

    [dir="rtl"] & {
      content: $slick-prev-character;
    }
  }
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 25px;
  right: -999rem;

  @include media-breakpoint-up(md) {
    right: 1.5rem;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      position: relative;
      display: inline-block;
      height: 3px;
      width: 60px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      background: $grey;

      button {
        border: 0;
        background: transparent;
        display: block;
        visibility: hidden;
        height: 3px;
        width: 60px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 0;
        cursor: pointer;

        &:hover,
        &:focus {
          outline: none;

        }
      }

      span {
        position: absolute;
        left: -2.4rem;
        top: -1rem;
        font-size: 2.4rem;
        color: $brand-grey;
        visibility: hidden;
      }

      &.slick-active {
        background-color: #fff;

        span {
          color: $white;
          visibility: visible;
        }
      }

      &.total {
        background-color: transparent;

        span {
          font-size: 2.4rem;
          color: $grey;
          width: 24px;
          left: 1rem;
          visibility: visible;
        }
      }
    }

  }

  @include media-breakpoint-up(lg) {
    right: 12.5rem;
  }

  li:nth-child(2) span {
    left: -8.4rem;
  }

  li:nth-child(3) span {
    left: -14.4rem;
  }

}


.image {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  width: 25rem;
  line-height: 1.5;

  @include media-breakpoint-up(sm) {
    width: 35rem;
  }

  @include media-breakpoint-up(lg) {
    left: 10.5rem;
  }

  &__title {
    color: $white;
    font-size: 2.8rem;

    @include media-breakpoint-up(sm) {
      font-size: 3.5rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 7rem;
    }
  }

  &__text {
    color: $white;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(sm) {
      font-size: 2.2rem;
      margin-bottom: 4.5rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 2.6rem;
      margin-bottom: 5.5rem;
    }
  }
}