.about-us {
  background-color: $body-color;
  padding: 0 1.5rem 3rem;
  margin-top: -2px;

  @include media-breakpoint-up(lg) {
    padding: 0 10.5rem 15rem;
  }

  .media {
    border-left: 1px solid $brand-red;
    padding: 1.5rem;

    @include media-breakpoint-up(lg) {
      display: flex;
      margin: 15rem 0 10rem;
      padding-left: 36rem;
    }

    position: relative;

    &__title a {
      color: $white;
      pointer-events: none;
      line-height: 1.2;
      font-size: 4.8rem;

      @include media-breakpoint-up(lg) {
        font-size: 5.6rem;
        position: absolute;
        left: 7rem;
        top: 7rem;
        width: 40rem;
        z-index: 99;
      }

      @include media-breakpoint-up(xl) {
        font-size: 7rem;
      }


      &::after {
        content: "";
        display: table;
        background: url('../img/arrow.svg') no-repeat 0 0;
        width: 31px;
        height: 45px;
        margin-top: 3rem;
        pointer-events: all;
      }
    }

    &__element {
      position: relative;
      margin: 1.5rem 0;
      pointer-events: none;

      @include media-breakpoint-up(lg) {
        margin: 0;
      }

      &::before {
        position: absolute;
        z-index: 99;
        content: "";
        display: table;
        background: url('../img/play.svg') no-repeat 0 0;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: all .2s ease-in-out;
        clip-path: circle(30px at center);
        pointer-events: all;
      }

      &:hover {
        &::before {
          filter: opacity(.7);
          background-color: rgba($brand-red, .7);

        }
      }
    }
  }

  .content {

    p {
      color: $white;
      font-size: 1.5rem;
      line-height: 1.65;
      margin-bottom: 2.5rem;
    }

    .btn {
      min-width: auto;
    }


  }

  @include media-breakpoint-up(md) {
    .col-md-12 {
      text-align: right;
    }
  }
}