.footer {
  background: $black;
  max-width: 135rem;
  font-size: 1.6rem;
  padding: 1.5rem 0;

  a {
    color: $brand-red
  }

  .instagram {
    text-align: center;
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      text-align: left;
      margin-bottom: 0;
    }

    &__link {
      position: relative;

      &::before {
        content: "";
        background: url('../img/instagram.svg') no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;
      }
    }
  }

  .copyright {
    color: $white;
    text-align: center;

    @include media-breakpoint-up(sm) {
      text-align: right;
    }
  }
}