.navigation {

  &__checkbox {
    position: absolute;
    left: -100rem;
    visibility: hidden;
  }

  &__button {
    background: $black;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: $black;
    z-index: 1000;

    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);


  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .9s cubic-bezier(.68, -0.55, .26, 1.44);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 80%;

    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }

  &__item {
    margin: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid $white;
  }

  &__link {

    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      display: inline-block;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $brand-red;
    }

  }

  // FUNCTIONALITY
  &__checkbox:checked~&__button {
    left: 1rem;
    right: auto;

    @include media-breakpoint-up(md) {
      left: 2rem
    }
  }

  &__checkbox:checked~&__background {
    transform: scale(80);
  }

  &__checkbox:checked~&__nav {
    width: 100%;
    opacity: 1;
    background-image: linear-gradient(90deg, $black, $black 15%, $body-color 15%);

    @include media-breakpoint-up(md) {
      background-image: linear-gradient(90deg, $black, $black 8%, $body-color 8%);
    }
  }

  // ICON
  &__icon {

    position: relative;
    margin-top: 3.5rem;


    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $white;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: transform .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -.9rem;
  }

  &__button:hover &__icon::after {
    top: .9rem;
  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked+&__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}