.services {
  background-color: $white;

  .col-md-4 {
    @include media-breakpoint-up(lg) {
      margin-top: -10vh !important;
    }

    padding-left: 30px;
    padding-right: 30px;
    margin: 3rem 0;
  }

}

.service {

  &__image {
    display: block;
    max-width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      margin-left: 2.5rem;
    }

  }

  &__content {
    background-color: $white;

    @include media-breakpoint-up(md) {
      margin-top: -10vh;
    }

    padding: 4.5rem 4rem 3.5rem 4rem;

    @include media-breakpoint-up(lg) {
      padding: 4.5rem 6rem 3.5rem 4rem;
    }

    position: relative;
    box-shadow: 0 1.5rem 2rem rgba($black, .15);
    transition: all 0.3s ease-in-out;

    &:hover {

      @include media-breakpoint-up(md) {
        transform: translateY(-.3rem);
        filter: opacity(.9);
      }
    }
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.4;

    @include media-breakpoint-up(lg) {
      font-size: 2.7rem;
      line-height: 1.4;
    }
  }

}